<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{data.title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
        <h1>Gerald Wu</h1>
        <aside>
          <a href="{{data.resume}}">[Resume]</a>
          <a href="{{data.blog}}">[Blog]</a>
        </aside>
    </header>
    <main>
      <h2 id="about">About Me</h2>
      <div class="blurb">
        {% for blurb in data.about %}
        <div class="box">
          <h3>{{blurb.title}}</h3>
          {{blurb.description}}
        </div>
        {% endfor %}
      </div>
      <h2 id="experience">Experience</h2>
      {% for job in data.experience %}
      <p class="job">
        <div class="left"><strong>{{job.company}}</strong></div>
        <div class="right grey">{{job.dates}}</div><br>
        <div class="grey"><em>{{job.position}}</em></div>
        {{job.description}}
      </p>
      {% endfor %}

      <h2 id="projects">Projects</h2>
      {% for project in data.projects %}
      <div class="project">
        <div class="box">
          <a target="_blank" href="{{project.link}}">
            <img src="{{project.image}}">
          </a>
        </div>
        <div class="box">
          <strong><a target="_blank" href="{{project.link}}">{{project.title}}</a></strong><br>
          <em class="grey">{{project.language}}</em><br>
          {{project.description}}
        </div>
      </div>
      <br>
      {% endfor %}

      <h2 id="selfhosted">Self-hosted Services</h2>
      <div class="service">
        {% for service in data.services %}
        <div class="box">
          <a target="_blank" href="{{service.link}}">
            <img src="{{service.logo}}"><br>
            {{service.title}}
          </a>
        </div>
        {% endfor %}
      </div>
      <h2>Contact Me</h2>
      <div class="contact">
        <p>
        {% for contact in data.contact %}
        {{contact.type}}: 
        <a target="_blank" class="grey" href="{{contact.link}}">
          {{contact.username}}
        </a>
        <p>
        {% endfor %}
      </div>
    </main>

    <footer class="grey">
      <p>
        Fun fact! This static page was automatically generated and deployed by the <a href="{{data.repo.url}}">{{data.repo.path}}</a> project using GitLab CI/CD.
      </p>
      Git commit: <a href="{{data.commit.url}}">{{data.commit.sha}}</a><br>
      CI/CD Pipeline: <a href="{{data.pipeline.url}}">#{{data.pipeline.id}}</a>
    </footer>
  </body>
</html>