body {
    color: #333333;
    background: #fbfbfb;
    margin: 1em auto;
    max-width: 50em;
    padding: 0 .62em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #ffffff;
}

h1, h2, h3 {
    line-height: 1.4;
}

header {
    padding: 15% 0;
}

@media print {
    body {
        max-width: none
    }
}

a {
    border-bottom: 1px solid #333333;
    color: #333333;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
}

div.left {
    float: left;
    text-align: left;
}

div.right {
    float: right;
    text-align: right;
}

.grey {
    color: #888888;
}

.grey a {
    border-bottom: 1px solid #888888;
    color: #888888;
    text-decoration: none;
}

header {
    text-align: center;
}

header>aside {
    text-align: center;
    color: #888888;
}

header>aside>a {
    text-align: center;
    color: #888888;
    border-bottom: 0px;
}

.project {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.project .box {
    flex: 50%;
    padding-right: 10px;
}

.project .box a>img {
    vertical-align: middle;
    width: 100%;
    border-radius: 5%;
}

@media (max-width: 800px) {
    .project {
        flex-direction: column;
    }
}

.service {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.service .box {
    flex: 24.999%;
    padding-bottom: 25px;
}

.service .box a {
    text-decoration: none;
    border-bottom: 0px;
}

.service .box a>img {
    max-width: 50px;
}

@media (max-width: 800px) {
    .service .box {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .service .box {
        flex: 100%;
    }
}