Gerald Wu
=========

----

> Site Reliability Engineering · Software Engineering · Computer Science

----

Experience
----------

{% for job in data.experience %}
{{job.dates}}
:   **{{job.position}}**

    {{job.company}}

    {{job.description}}
{% endfor %}

Education
---------

{% for schooling in data.education %}
{{ schooling.dates }}
:   **{{schooling.school}}**

    {{schooling.degree}}
{% endfor %}

Skills
------

{% for skill in data.skills %}
{{skill.type}}
:   {{skill.description}}
{% endfor %}

<div style="page-break-after: always;"></div>

Projects
--------

{% for project in data.projects %}
{{ project.language }}
:   **{{ project.title}}**

    [{{ project.link }}]({{ project.link }})

    {{ project.description }}
    <br />
{% endfor %}

----

> <{{data.contact[0].username}}>
