<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{data.title}}</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <base target="_blank">
</head>

<body>
  <header>
    <h1>Gerald Wu</h1>
    <aside>
      <a href="{{data.resume}}">[Resume]</a>
      <a href="{{data.blog}}">[Blog]</a>
    </aside>
  </header>
  <main>
    <h2>About Me</h2>
    <div class="blurb">
      {% for blurb in data.about -%}
      <div class="box">
        <h3>{{blurb.title}}</h3>
        {{blurb.description}}
      </div>
      {% endfor -%}
    </div>

    <h2>Projects</h2>
    <div>
      {% for project in data.projects -%}
      <h4><a href="{{project.link}}">{{project.title}}</a></h4>
      <em class="grey">{{project.language}}</em>
      {%- if project.short_description is defined %}
      {{project.short_description}}
      {%- else %}
      {{project.description}}
      {%- endif %}
      {% endfor -%}
    </div>

    <h2>Experience</h2>
    <div class="experience">
      <ul class="tl">
        {% for experience in data.experience -%}
        <li class="tl-item" ng-repeat="item in retailer_history">
          <strong>{{experience.position}}</strong><br>
          <div class="blurb">
            <div class="box">
              <em class="grey">{{experience.company}}</em>
            </div>
            <div class="box right-text">
              <span class="grey">{{experience.dates}}</span>
            </div>
          </div>
          {{experience.description}}
        </li>
        {% endfor -%}
      </ul>
    </div>

    <h2>Contact Me</h2>
    <div>
      {% for contact in data.contact -%}
      <p>
        {{contact.type}}:
        <a class="grey" href="{{contact.link}}">
          {{contact.username}}
        </a>
      </p>
      {% endfor -%}
    </div>
  </main>

  <footer class="grey">
    <details>
      <summary>Why does your site look so ugly?</summary>
      <p>
        My website is intentionally designed as a basic text site with a tiny bit of styling. As a result, it retains an
        incredibly small footprint, both in terms of bandwidth usage and client-side rendering.<br>
      </p>
      <p>
        For more information, see <a href="https://blog.geraldwu.com/posts/a-new-website/">my blog post</a>.
      </p>
    </details>
    <p>
      This static page was automatically generated and deployed by the <a
        href="{{data.repo.url}}">{{data.repo.path}}</a> project using GitLab CI/CD.
    </p>
    Git commit: <a href="{{data.commit.url}}">{{data.commit.sha}}</a><br>
    CI/CD Pipeline: <a href="{{data.pipeline.url}}">#{{data.pipeline.id}}</a>
  </footer>
</body>

</html>