* {
    margin: 0;
}

:root {
    --light-bg-color: #fbfbfb;
    --light-text-color: #333333;
    --light-text-shadow: #ffffff;
    --light-grey-color: #888888;
    --light-pale-grey-color: #aaaaaa;
    --dark-bg-color: #181818;
    --dark-text-color: #fbfbfb;
    --dark-text-shadow: #000000;
    --dark-grey-color: #aaaaaa;
    --dark-pale-grey-color: #aaaaaa;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--light-bg-color);
        --text-color: var(--light-text-color);
        --text-shadow: var(--light-text-shadow);
        --grey-color: var(--light-grey-color);
        --pale-grey-color: var(--light-pale-grey-color);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--dark-bg-color);
        --text-color: var(--dark-text-color);
        --text-shadow: var(--dark-text-shadow);
        --grey-color: var(--dark-grey-color);
        --pale-grey-color: var(--dark-pale-grey-color);
    }
}

body,
footer {
    color: var(--text-color);
    background: var(--bg-color);
    text-shadow: 0 1px 0 var(--text-shadow);
}

a {
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    text-decoration: none;

    &:hover {
        border-bottom: 0;
    }
}

.grey {
    color: var(--grey-color);

    & a {
        border-bottom: 1px solid var(--grey-color);
        color: var(--grey-color);
        text-decoration: none;
    }
}

header {
    color: #fbfbfb;
    background: #080808;
    text-shadow: 0 1px 0 #000000;

    padding: 10vh 0;
    text-align: center;

    & h1 {
        font-size: xxx-large;
    }

    & aside {
        color: var(--grey-color);

        & a {
            color: var(--grey-color);
        }
    }
}

ul {
    padding: 0 30px;
}


header,
main,
footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

main,
footer {
    margin: 1em auto;
    max-width: 50em;
    padding: 0 .62em;
    line-height: 1.8;
}

h1,
h2,
h3,
h4 {
    line-height: 1.6;
    padding-top: 1em;
}

p {
    padding-top: 0.5em;
}

@media print {
    main {
        max-width: none;
    }
}

.blurb {
    display: flex;
    flex-direction: row;

    & .box {
        flex: 50%;
        padding-right: 10px;
    }

    & .right-text {
        float: right;
        text-align: right;
    }
}

@media (max-width: 800px) {
    .blurb {
        flex-direction: column;
        & .right-text {
            float: left;
            text-align: left;
        }
    }
}

.experience {
    margin: auto;
    display: block;
    position: relative;

    >ul.tl {
        margin: 20px 0 0;
        padding: 0;
        display: inline-block;

        >li {
            list-style: none;
            margin: auto;
            margin-left: 1em;
            min-height: 50px;
            border-left: 1px dashed var(--pale-grey-color);
            padding: 0 0 1em 30px;
            position: relative;

            &:last-child {
                border-left: 0;
                padding: 0 0 0 30px;
            }

            &::before {
                position: absolute;
                left: -18px;
                top: -5px;
                content: " ";
                border: 8px solid var(--pale-grey-color);
                border-radius: 500%;
                background: var(--text-color);
                height: 20px;
                width: 20px;
            }
        }
    }
}